header {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  font: bold italic 56px Palatino, serif;
}

.grid {
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  background-color: rgb(226, 190, 190);
  width: 400px;
  height: 400px;
  position: relative;
  justify-self: center;
}
.cell {
  background-color: aliceblue;
  border: 0.1px solid gray;
}

.cell:hover {
  display: block;
  background-color: black;
}
.container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
